body {
    font-family: 'Fira Sans', sans-serif;
    color:#eeeeee
    
}

a {
    color: black;
}


.centertext {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}